<!DOCTYPE html>
<html lang="en">
<head>
  <title>FLC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/mystyle.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false"
      aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">FLC</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{url_for('.home') }}">Home</a></li>
        <li><a href="{{url_for('.premierleague') }}">Premier League</a></li>
        <li><a href="{{url_for('.bundesliga') }}">Bundesliga</a></li>
        <li><a href="{{ url_for('.primeradivision') }}">La Liga</a></li>
      </ul>
    </div>
  </div>
</nav>
  
{% block content %} {% endblock %}      
      
</body>
</html>
