{% extends "baseteams.html" %} 
{% block content %} 

  <div class="container">           
    <div class="img-responsive"> 
      <img src= {{ url_for('static', filename = 'images/bl.png') }}>
    </div> 
    <div class="col-sm-12">
      <h2">{{bl.Info}}</h2>          
    </div>   

 <div class="row">
    <div class="col-md-4">
      <a href="{{url_for('.bayernmunich') }}" class="thumbnail">
        <p>Bayern Munchen</p>    
        <img src= {{ url_for('static', filename = 'images/bm.png') }} >
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{url_for('.borussiadortmund') }}" class="thumbnail">
        <p>Borusiq Dortmund</p>
       <img src= {{ url_for('static', filename = 'images/bd.png') }} >
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{url_for('.fcshalke04') }}" class="thumbnail">
        <p>FC Shalke 04</p>      
        <img src= {{ url_for('static', filename = 'images/fs.png') }} >
      </a>
    </div>
  </div>
    
   </div>

{% endblock %}