{% extends "baseteams.html" %} 
{% block content %} 
 <div class="name" >
  <div class="home"><h1>{{h.Info}} </h1></div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
   
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{{ url_for('static', filename = 'images/home1.jpg') }}" >    
      </div>

      <div class="item">
        <img src="{{ url_for('static', filename = 'images/home2.jpg') }}" >
      </div>
    
      <div class="item">
        <img src="{{ url_for('static', filename = 'images/home3.jpg') }}" >
      </div>

      <div class="item">
        <img src="{{ url_for('static', filename = 'images/home4.jpg') }}" >
      </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
 </div>
{% endblock %}