{% extends "baseteams.html" %} 
{% block content %} 

  <div class="container">           
    <div class="img-responsive"> 
      <img src= {{ url_for('static', filename = 'images/ll.png') }}>
    </div> 
    <div class="col-sm-12">
      <h2">{{ll.Info}}</h2>          
    </div>   

 <div class="row">
    <div class="col-md-4">
      <a href="{{url_for('.barcelona') }}" class="thumbnail">
        <p>Barcelona</p>    
        <img src= {{ url_for('static', filename = 'images/barcelona.png') }} >
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{url_for('.realmadrid') }}" class="thumbnail">
        <p>Real Madrid</p>
       <img src= {{ url_for('static', filename = 'images/rm.png') }} >
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{url_for('.atleticomadrid') }}" class="thumbnail">
        <p>Atletico Madrid</p>      
        <img src= {{ url_for('static', filename = 'images/am.png') }} >
      </a>
    </div>
  </div>
    
   </div>

{% endblock %}