{% extends "baseteams.html" %} 
{% block content %} 

  <div class="container">           
    <div class="img-responsive"> 
      <img src= {{ url_for('static', filename = 'images/pl.png') }}>
    </div> 
    <div class="col-sm-12">
      <h2">{{pl.Info}}</h2>          
    </div>   

 <div class="row">
    <div class="col-md-4">
      <a href="{{url_for('.arsenal') }}" class="thumbnail">
        <p>Arsenal</p>    
        <img src= {{ url_for('static', filename = 'images/arsenal.png') }} >
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{url_for('.manutd') }}" class="thumbnail">
        <p>Manchester United</p>
       <img src= {{ url_for('static', filename = 'images/manutd.png') }} >
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{url_for('.liverpool') }}" class="thumbnail">
        <p>Liverpool</p>      
        <img src= {{ url_for('static', filename = 'images/liverpool.png') }} >
      </a>
    </div>
  </div>
    
   </div>

{% endblock %}