{% extends "baseteams.html" %} 
{% block content %} 

  <div class="container">           
    <div class="name" > 
     <h1>{{teams.Name}}</h1>   
    </div> 
    <div class="col-sm-12">
      <p">{{teams.Info}}</p>    
      <p">{{teams.Manager}}</p>  
      <p">{{teams.Stadium}}</p>  
      <p">{{teams.Location}}</p>  
      <p">{{teams.Founded}}</p>   
      <p">{{teams.Leagues}}</p>           
    </div>  
   </div> 

{% endblock %}