body {
 background-color: #d0e4fe;
 font-size: 14px;
}

.signup
{
 position: absolute;
 padding-top: 60px;  
 left: 40%;
 margin-left: -40px;
}
.error
{
 position: absolute;
 padding-top: 60px;  
 left: 20%;
 margin-left: -20px;
}

.messages
{
 padding-top: 60px;  
}

.users
{
 padding-top: 60px;  
}

.flashes {
 padding-top: 60px;  
 background: #B80000;
 color: white;
}

