{% extends "mainlayout.html" %}
{% block body %}
<div class="signup">
  <h2>Add Message</h2>
  <form class="form-horizontal" action='' method="post">
   <p><input type="message" name="message" size="80">
       <input type="submit" value="Submit">
</form>
</div>
{% endblock %}