{% extends "mainlayout.html" %}
{% block body %}
 <div class="messages">
  {% for message in messages %}           
      <p><strong><a href="{{ url_for('userpersonalpage', username=message.username)}}">{{ message.username }}</a></strong>
      <img src="{{ message.email|avatar(size=45) }}">
      {{ message.message }}
      {{ message.date|format }}</small>
  {% else %}
    <p> No messages
  {% endfor %}  
</div>
{% endblock %}