{% extends "mainlayout.html" %}

{% block body %}
<div class="signup">
 <h2>Login</h2>
  <form class="form-horizontal" action='' method="post">
   <fieldset>
  <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
      <input type="text" name="username" value="{{ request.form.username }}">
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password -->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
       <input type="password" name="password" >
      </div>
    </div>
    <div class="actions"><input type="submit" value="Sign In"></div>
  </fieldset>
</div>
</form>
</div>
   {% if err %}<div class="error"><strong>Error:</strong> {{ err }}</div>{% endif %}
{% endblock %}