<!DOCTYPE html>
<html lang="en">
<head>
  <title>twittynet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false"
      aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">TwittyNet</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
       {% if g.user %}
        <li class="active"><a href="{{url_for('mypage')}}">My Page</a></li>
        <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
        <li><a href="{{url_for('addmessage')}}">Add Message</a></li>
        <li><a href="{{url_for('users')}}">Users</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
       {% else %}
        <li class="active"><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('register')}}">Sign up</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
       {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% with messages = get_flashed_messages() %}
     {% if messages %}
      <div class="flashes">
       {% for message in messages %}
        {{ message }}
        {% endfor %}
      </div>
        {% endif %}
      {% endwith %}
{% block body %} {% endblock %}      
      
</body>
</html>