{% extends "mainlayout.html" %}
{% block body %}
 <div class="users">
  {% for user in users %}           
      <p><img src="{{ user.email|avatar(size=45) }}"> 
      <strong><a href="{{ url_for('userpersonalpage', username=user.username)}}">{{ user.username }}</a></strong>
  {% else %}
    <p> No messages
  {% endfor %}  
</div>
{% endblock %}