 body{ 
      background-color: #d0e4fe;
    } 
    .img-responsive{
      padding-top: 50px;
      text-align:center;  
    }

    .error{
      padding-top: 80px;   
      font-size: 250%; 
    }
    .row{
      padding-top: 80px;
    }

    .name{
      padding-top: 50px;
    }
    .thumbnail{
     background-color: #d0e4fe;
     width:250px;
     height:300px;
    }
    
     .home{
     text-align:center;
    }
    
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
     padding-top: 20px;
     width:450px;
     height:320px;
     margin: auto;
  }